[mysqld]
default_authentication_plugin=mysql_native_password
port = 3306
socket=/var/lib/mysql/mysql.sock
datadir=/data/mysql

character-set-server = utf8mb4
collation_server = utf8mb4_general_ci
skip-character-set-client-handshake

sql_mode=NO_ENGINE_SUBSTITUTION 
skip-external-locking

innodb_data_home_dir = /data/mysql
innodb_data_file_path = ibdata1:1G
innodb_file_per_table
#innodb_additional_mem_pool_size = 20M
innodb_buffer_pool_size = 1G
innodb_log_group_home_dir = /data/mysql
innodb_log_file_size = 100M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

key_buffer_size = 512M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M
#query_cache_size = 256M

max_allowed_packet = 16M

max_heap_table_size = 64M
tmp_table_size = 64M

table_open_cache = 2048
thread_cache_size = 8
#thread_concurrency = 8

slow_query_log = 1
slow-query-log-file = /data/log/mysql/mysqld-slow.log
long_query_time = 2

log-bin = mysql-bin
binlog_format = mixed

server-id = 1
#server-id = 2
#master-host=xxx.xxx.xxx.xxx
#master-user=repl
#master-password=**********
#replicate-do-db=data_xxxxx

[mysqld_safe]
log-error=/data/log/mysql/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid

[mysql]
default-character-set = utf8mb4
no-auto-rehash

[mysqldump]
quick
max_allowed_packet = 256M
single-transaction = true
lock-all-tables = false
lock-tables = false

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[client]
port        = 3306
socket      = /var/lib/mysql/mysql.sock
protocol=TCP
